/* 
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

body
{
  min-height: 100%;
}
  

.flex
{
  display: flex;
}

.sidebar {
    width: 200px;
    height: calc(100vh - 284px);
    position: fixed;
    top: 284px;
    background-color: #56595e;
    color: #fff;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
  }
  
.sidebar::-webkit-scrollbar
{
  width: 0;
}

.sidebar:hover::-webkit-scrollbar
{
  width: 10px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 5px; 
}

.sidebar:hover::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

  
.sidebar > *
{
  margin: 0;
}

.sidebar::before,
.sidebar::after {
  content: none;
}


  .sidebar h3 {
    margin-top: 0;
  }
  

  .sidebar ul {
    list-style-type: none;
    padding-top: 1rem;
  }
  

  .sidebar li {
    margin: 0.5rem 0;
  }
  

  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  

  .sidebar a:hover {
    text-decoration: underline;
  }
   */