.top-header {
    background-color: #ba0c2f; /* Solid color */
    color: #ffffff;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: Merriweather;
  padding: 0;
}

.month {
  padding: 25px;
  width: 100%;
  background: #ba0c2f;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 10px 0;
  background-color: #a7a7a7;
}

.weekdays li {
  display: inline-block;
  color: #ffffff;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 0;
  background: #ffffff;
  margin: 0;
}

.date
 {
  text-align:center;
  padding: 10px;
  margin: 2px;
}

.date:hover,
.date.active {
  background: red;
  color : #ffffff;
  cursor: pointer;

}

.date.inactive {
  color: #808285;
}




/*<!-- .days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #808285;
}

.days li .active {
  padding: 5px;
  background: #ba0c2f;
  color: #ffffff !important
} -->*/

.calendar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    }

.calendar-wrap {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  height: 90% !important; 
  width: 60% !important;
  gap: 20px;
    /* max-width: 100% !important;
    max-height: 100% !important; */
}

.event-item {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-title {
  font-weight: bold;
}

.event-header > :last-child {
  float: right;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 10px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}