html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 16px;
    border-color: black;
  }

.card img {
width: 200px;
height: 200px;
object-fit: contain;
}

  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin: 4px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .button * {
    text-decoration: none;
    color: inherit;
  }
  
  .button:hover {
    background-color: gray;
  } 

  .popup {
    position: fixed; /* pop-up stays fixed on the viewport */
    top: 50%; /* positions vertically centered */
    left: 50%; /* positions horizontally centered */
    transform: translate(-50%, -50%); /* fine-tunes exact centering */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    display: none; /* initially hidden */
  }
.row{
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}
main{
  margin-top: 20px;
  background-color: rgb(250, 235, 215);
}