html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* ensures cards wrap to next line if needed */
  padding: 0;
  margin: 0;
}

.column {
  flex: 1; /* ensures equal-width columns */
  padding: 8px;
  margin-bottom: 16px;
}

@media screen and (max-width: 650px) {
  .column {
    flex: 100%; /* cards will fill full width on small screens */
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 16px;
  border: 1px solid black; /* clearly defined black border */
  height: 100%; /* Ensures uniform height */
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  padding: 8px;
  margin-top: auto; /* pushes button to the bottom of card */
  color: white;
  background-color: black;
  cursor: pointer;
}

.button * {
  text-decoration: none;
  color: inherit;
}

.button:hover {
  background-color: gray;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;
}

main {
  margin-top: 20px;
  background-color: #f5f5dc;
}
